.navbar {
    background-color: black; 
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-center {
    text-align: center; 
  }
  
  .navbar-logo {
    text-decoration: none;
    position: absolute;
  }

  .logo-image {
    width: 300px;
    height: 75px; /* Adjust width of the logo image as needed */
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 1.5rem;
  }
  
  .navbar-icon {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
  }

  
  .navbar-icon:hover {
    color: #ddd;
  }
